In [2]:
# modules we'll use
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

# read in our data
earthquakes = pd.read_csv("database.csv")

# set seed for reproducibility
np.random.seed(0)

In [3]:
earthquakes.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [12]:
inc_values = earthquakes[earthquakes.Date.str.len()>10].Date

In [13]:
inc_values

3378     1975-02-23T02:58:41.000Z
7512     1985-04-28T02:53:41.530Z
20650    2011-03-13T02:23:34.520Z
Name: Date, dtype: object

In [27]:
inc_values.str[5:].str[:2]

3378     02
7512     04
20650    03
Name: Date, dtype: object

In [29]:
inc_values.str[8:].str[:2]

3378     23
7512     28
20650    13
Name: Date, dtype: object

In [54]:
inc_values = inc_values.str[5:].str[:2] +"/" + inc_values.str[8:].str[:2] + "/" + inc_values.str[:4]

In [34]:
earthquakes.Date[inc_values.index] = inc_values

C:\Users\akr80\AppData\Local\Temp\ipykernel_20448\1127220996.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  earthquakes.Date[inc_values.index] = inc_values

In [42]:
earthquakes[earthquakes.Date.str.len()>10].Date

3378     1975-02-23T02:58:41.000Z
7512     1985-04-28T02:53:41.530Z
20650    2011-03-13T02:23:34.520Z
Name: Date, dtype: object

In [44]:
date_value = earthquakes.Date
inc_index = earthquakes.Date.str.len()>10
date_value[inc_index] = inc_values

C:\Users\akr80\AppData\Local\Temp\ipykernel_20448\1531894415.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_value[inc_index] = inc_values

In [57]:
earthquakes.loc[inc_index,'Date'] = inc_values

In [55]:
inc_values

3378     02/23/1975
7512     04/28/1985
20650    03/13/2011
Name: Date, dtype: object

In [58]:
earthquakes[inc_index]

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
3378,02/23/1975,1975-02-23T02:58:41.000Z,8.017,124.075,Earthquake,623.0,NaN,NaN,5.6,MB,...,NaN,NaN,NaN,NaN,NaN,USP0000A09,US,US,US,Reviewed
7512,04/28/1985,1985-04-28T02:53:41.530Z,-32.998,-71.766,Earthquake,33.0,NaN,NaN,5.6,MW,...,NaN,NaN,NaN,NaN,1.30,USP0002E81,US,US,HRV,Reviewed
20650,03/13/2011,2011-03-13T02:23:34.520Z,36.344,142.344,Earthquake,10.1,13.9,289.0,5.8,MWC,...,NaN,32.3,NaN,NaN,1.06,USP000HWQP,US,US,GCMT,Reviewed

In [59]:
earthquakes.Date = pd.to_datetime(earthquakes.Date,format='%m/%d/%Y')

In [60]:
earthquakes.dtypes

Date                          datetime64[ns]
Time                                  object
Latitude                             float64
Longitude                            float64
Type                                  object
Depth                                float64
Depth Error                          float64
Depth Seismic Stations               float64
Magnitude                            float64
Magnitude Type                        object
Magnitude Error                      float64
Magnitude Seismic Stations           float64
Azimuthal Gap                        float64
Horizontal Distance                  float64
Horizontal Error                     float64
Root Mean Square                     float64
ID                                    object
Source                                object
Location Source                       object
Magnitude Source                      object
Status                                object
dtype: object

In [63]:
import pandas as pd
import numpy as np

# helpful modules
import fuzzywuzzy
from fuzzywuzzy import process
import chardet
professors = pd.read_csv("pakistan_intellectual_capital.csv")

# set seed for reproducibility
np.random.seed(0)

In [67]:
professors.describe(include = 'all')

,Unnamed: 0,S#,Teacher Name,University Currently Teaching,Department,Province University Located,Designation,Terminal Degree,Graduated from,Country,Year,Area of Specialization/Research Interests,Other Information
count,1142.000000,1142.000000,1142,1142,1142,1142,1123,1138,1142,1142,489.000000,623,124
unique,NaN,NaN,1133,63,17,5,46,42,350,38,NaN,571,52
top,NaN,NaN,Muhammad Zubair,Sir Syed University of Engineering and Technology,Computer Science,Punjab,Assistant Professor,MS,FASTâ€“ National University of Computer and Emer...,Pakistan,NaN,Software Engineering,PhD in progress
freq,NaN,NaN,3,81,744,449,489,463,67,776,NaN,16,27
mean,1054.350263,1055.350263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.456033,NaN,NaN
std,520.202783,520.202783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.577565,NaN,NaN
min,2.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1983.000000,NaN,NaN
25%,689.250000,690.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,NaN
50%,1087.500000,1088.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.000000,NaN,NaN
75%,1476.750000,1477.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.000000,NaN,NaN
max,1980.000000,1981.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000,NaN,NaN

In [77]:
professors.Country = professors.Country.str.strip().str.lower()

In [106]:
str_list = list(professors.Country.unique())

In [116]:
for i in str_list:
    reduced_list = str_list.copy()
    reduced_list.remove(i)
    matches = fuzzywuzzy.process.extract(i,reduced_list,limit=10,scorer=fuzzywuzzy.fuzz.token_sort_ratio)
    closest_name = ''
    for name,similarity in matches:
        if similarity > 65:
            closest_name = name
            break
    print("Matches for {0} are : {1}".format(i,closest_name))

Matches for thailand are : ireland
Matches for pakistan are :
Matches for germany are :
Matches for austria are : australia
Matches for australia are : austria
Matches for uk are :
Matches for china are :
Matches for france are :
Matches for usofa are : usa
Matches for southkorea are :
Matches for malaysia are :
Matches for sweden are :
Matches for italy are :
Matches for canada are :
Matches for norway are :
Matches for ireland are : finland
Matches for new zealand are : netherland
Matches for urbana are :
Matches for portugal are :
Matches for russian federation are :
Matches for usa are : usofa
Matches for finland are : ireland
Matches for netherland are : thailand
Matches for greece are :
Matches for turkey are :
Matches for south korea are :
Matches for macau are :
Matches for singapore are :
Matches for spain are :
Matches for japan are :
Matches for hongkong are :
Matches for saudi arabia are :
Matches for mauritius are :
Matches for scotland are :

In [ ]:
def fun_match()

In [117]:
str_list

['thailand',
 'pakistan',
 'germany',
 'austria',
 'australia',
 'uk',
 'china',
 'france',
 'usofa',
 'southkorea',
 'malaysia',
 'sweden',
 'italy',
 'canada',
 'norway',
 'ireland',
 'new zealand',
 'urbana',
 'portugal',
 'russian federation',
 'usa',
 'finland',
 'netherland',
 'greece',
 'turkey',
 'south korea',
 'macau',
 'singapore',
 'spain',
 'japan',
 'hongkong',
 'saudi arabia',
 'mauritius',
 'scotland']